*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Martel,Times New Roman,Times,serif;
    text-align: center;
}

.container{
    background-image: url(./assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.preload{
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.671);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
}

.logo{
    width: 100%;
    height: 10px;
    margin: 150px auto 50px auto;
    font-size: 85px;
    text-shadow: -1px 2px 2px #000;
    text-decoration: center;
    color: azure;
}
  
.logo .word {
    display: inline-block;
    line-height: 1em;
  }

.loader-frame{
    width: 90px;
    height: 90px;
    margin:auto;
    position: relative;
    top: 170px;
}

.loader1,.loader{
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}

.loader1{
    width: 70px;
    height: 70px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
    animation: anim1 2s linear 3;
    text-align: center;
}

.loader2{
    width: 25px;
    height: 25px;
    margin: 20px;
    border-radius: 100%;
    border-top: 1.5px solid #a6bfe9;
    border-bottom: 1.5px solid #a6bfe9;
    box-shadow: black;
    background-color: #1763e9;
    top: 5px;
    left: 5px;
    animation: anim2 2s linear 3;
}

@keyframes anim1{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg)}
}

@keyframes anim2{
    from{transform: rotate(0deg);}
    to{transform: rotate(-360deg)}
}

@keyframes fadeout{
    from{opacity: 1;}
    to{opacity: 0;}
}